<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Present!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .board {
        border: solid black 1px;
        border-radius: 4px;
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Present</h1>
    </header>

    <main>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io('/present');
      const list = {}
      
      var height = 200
      var width = 200
      
      var current = {
        color: 'black'
      };

      socket.on('drawing', onDrawingEvent);
      
      function drawLine(x0, y0, x1, y1, color, context){
        context.beginPath();
        context.moveTo(x0, y0);
        context.lineTo(x1, y1);
        context.strokeStyle = color;
        context.lineWidth = 4;
        context.stroke();
        context.closePath();
      }
      
      function onDrawingEvent(id, data){
        makeSureCanvasExists(id)
        var context = list[id]
        var w = width;
        var h = height;
        drawLine(data.x0 * w, data.y0 * h, data.x1 * w, data.y1 * h, data.color, context);
      }
      
      function makeSureCanvasExists (id) {
        if (!list[id]) {
          var canvas = document.createElement('canvas');
          canvas.className = 'board'
          canvas.width = width;
          canvas.height = height;
          document.querySelector('main').appendChild(canvas);
          var context = canvas.getContext('2d');
          list[id] = context;
        }
      }
    </script>
  </body>
</html>